@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
	font-family: 'Roboto' sans-serif;
}

/* seletor de tag html */
h1, h2, h6 {
	color: blue;
}

/* seletor de id */
#my-title {
	font-size: 2rem;
}

/* seletor de classe */
.bold {
	font-weight: 900;
}