@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	background: rgb(53, 33, 130);
	color: #fff;
	/* width: 100%; */
	height: 200px;

	/* max-width: 800px; */
	min-width: 500px;

	min-height: 400px;
	margin: auto;

}